[MAIN]
recursive=yes

[MESSAGES CONTROL]
disable=
    C0114,
    C0116,
    R0914,
    R0915,
    R0912,
    W0603,
    W0718,
    C0301,
    C0413,
    C0411,
    C0415

[FORMAT]
max-line-length=120

[DESIGN]
max-args=10
max-branches=20
